#cronometro  { 
    padding:100px;
    border: 5px #7c7bff double;
    width: 200px;
    text-align: center; 
    background-color: rgb(214, 45, 107); 
    border-radius: 15px;
    }
    
    #cronometro [type=button]  { 
    margin: 10px; 
    font: normal 9pt arial;
    width: 150px;
    }
    